{%extends "laundry/base.html"%}

{%block content%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{histo.std}}</a>
            <small class="text-muted">{{histo.Date}}</small>

        </div>
        <p style="font-family:verdana;">Kurta-> {{histo.Kurta}}</p>
        <p style="font-family:verdana;">Pajama-> {{histo.Pajama}}</p>
        <p style="font-family:verdana;">Shirt-> {{histo.Shirt}}</p>
        <p style="font-family:verdana;">T_Shirt-> {{histo.T_Shirt}}</p>
        <p style="font-family:verdana;">Pant-> {{histo.Pant}}</p>
        <p style="font-family:verdana;">Lower-> {{histo.Lower}}</p>
        <p style="font-family:verdana;">Shorts-> {{histo.Shorts}}</p>
        <p style="font-family:verdana;">Bedsheet-> {{histo.Bedsheet}}</p>
        <p style="font-family:verdana;">Pillow_Cover-> {{histo.Pillow_Cover}}</p>
        <p style="font-family:verdana;">Towel-> {{histo.Towel}}</p>
        <p style="font-family:verdana;">Dupatta-> {{histo.Dupatta}}</p>
    </div>
</article>
{%endblock content%}