{%extends "laundry/base.html"%}
{%block content%}
    {%for hist in history%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{hist.std}}</a>
                <small class="text-muted">{{hist.Date}}</small>

            </div>
            <p style="font-family:verdana;">Kurta-> {{hist.Kurta}}</p>
            <p style="font-family:verdana;">Pajama-> {{hist.Pajama}}</p>
            <p style="font-family:verdana;">Shirt-> {{hist.Shirt}}</p>
            <p style="font-family:verdana;">T_Shirt-> {{hist.T_Shirt}}</p>
            <p style="font-family:verdana;">Pant-> {{hist.Pant}}</p>
            <p style="font-family:verdana;">Lower-> {{hist.Lower}}</p>
            <p style="font-family:verdana;">Shorts-> {{hist.Shorts}}</p>
            <p style="font-family:verdana;">Bedsheet-> {{hist.Bedsheet}}</p>
            <p style="font-family:verdana;">Pillow_Cover-> {{hist.Pillow_Cover}}</p>
            <p style="font-family:verdana;">Towel-> {{hist.Towel}}</p>
             <p style="font-family:verdana;">Dupatta-> {{hist.Dupatta}}</p>
        </div>
    </article>
    {%endfor%}
{%endblock content%}
